@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
    border-radius: 0.375rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 5px solid #164863;
    background-color: white;
    border-radius: 100px;
  }